/* -------------------------------------------------------------------
   String list
   ------------------------------------------------------------------- */
.proplist-add-button-container {
  position: relative;
  padding-right: 0;
}

.proplist-default-label {
  color: #666666;
}

.proplist-item {
  cursor: default;
  color: #f8f8f8;
  position: relative;
  line-height: 35px;
}

.proplist-header {
  background-color: rgba(255, 255, 255, 0.04);
  margin-bottom: 2px;
  margin-top: 2px;
}